# Data Manipulation
numpy
pandas
scipy

# Machine Learning Models & Utilities
scikit-learn
xgboost
lightgbm
imbalanced-learn
joblib

# Model Explainability
shap

# Visualization
matplotlib
seaborn

# Environment & Notebooks
jupyter
notebook
ipykernel